:root {
  --border-color: #969696;
  --font-color: white;
  --game-bg: #34435E;
  --hover: #4d4d50d3;
  --main-bg: #253D5B;
  --main-font: 'Kalam', cursive;
}
*{
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg);
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: 100px;
  margin: 0;
  text-align: center;
}

/*inherited styles*/
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}