:root {
  --main-bg: black;
  --game-bg: gray;
  --font-color: white;
  --border-color: blue;
  --main-font: 'Kalam', cursive;
}

body {
  background-color: var(--main-bg);
  color: var(--font-color);
  margin: 0;
  font-family: var(--main-font);
  font-size: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  text-align: center;
}
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
button {
  background-color: var(--game-bg);
  border: 1px solid var(--border-color);
  height: 200px;
  width: 200px;
}

.board-display-container {
   margin: auto;
   width: 700px;
}

.board {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}