.current-player {
	border-bottom: 1px solid white;
	border-radius: 10%;
	font-size: 50px;
	line-height: 1.2;
	margin: 5% auto;
}

.board-display-container {
	margin: auto;
	max-width: 700px;
}

.board {
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	justify-content: center;
	margin-top: .5em;
}

.reset-btn {
	background-color: white;
	color: var(--main-bg);
	border-radius: 20% 40%;
	font-size: 30px;
	height: 75px;
	width: 200px;
	margin: 0px auto;
	transition: .25s all;
}
.reset-btn:hover,
.reset-btn:focus {
	background-color: white;
	cursor: pointer;
	transform: scale(1.15);
}
