:root {
  --border-color: #969696;
  --font-color: white;
  --game-bg: #34435e;
  --hover: #4d4d50d3;
  --main-bg: #253d5b;
  --main-font: 'Kalam', cursive;
}

* {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-bg);
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: 100px;
  margin: 0;
  text-align: center;
}

/*inherited styles*/
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  animation: animate 2s ease-in-out;
  background-color: var(--game-bg);
  border: 1px solid var(--border-color);
  height: 100%;
  opacity: .8;
  transition: .15s all;
  width: 100%;
}
button:hover {
  background-color: var(--hover);
  opacity: 1;
}
button:focus {
  outline: none;
}

/*animation on render*/
@keyframes animate {
  0% {
    color: black;
    opacity: 0;
  }
  100% {
    color: white;
    opacity: 1;
  }
}
